#election2010.page {
	float: left;
	width: 640px;
	position: relative;
}

#election2010 h2 {
	font-size: 24px;
}

#election2010 #mosaic {
	margin-top: 20px;
}

#election2010 #mosaic ul li.mug-shot-link {
	float: left;
	border-width: 5px;
	border-style: solid;
	height: 80px;
	width: 80px;
}

#election2010 #mosaic ul li.mug-shot-link img.attachment-election-2010-thumb {
	height: 80px;
	width: 80px;	
}

#election2010 #mosaic ul li.mug-shot-link.red {
	border-color: #bd3d44;
	background-color: #bd3d44;	
}

#election2010 #mosaic ul li.mug-shot-link.blue {
	border-color: #192f5d;
	background-color: #192f5d;	
}

#election2010 #mosaic ul li.mug-shot-link.white {
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

#election2010 #mosaic ul li.mug-shot-link.active {
	border-color: #FFF7A6;
	background-color: #FFF7A6;
}

#election2010 #mosaic ul li.mug-shot-link.active-filter img.attachment-election-2010-thumb {
	
}

#election2010 #mosaic ul li.mug-shot-link.hidden-filter img.attachment-election-2010-thumb {
	opacity: 0.1;
}

#election2010 #mosaic ul li.mug-shot-link img.attachment-election-2010-thumb:hover {
	cursor: pointer;
}

#election2010 #mosaic ul li div.content-single {
	display:none;
}

#election2010 #content-single-zone {
	position: absolute;
	top: 0;
	padding: 20px;
	background-color: #FFFFFF;
	border: 5px solid #FFF7A6;
	display: none;
}

#election2010 #content-single-zone .actions {
	color: #666666;
}

#sidebar-election2010 {
	float: right;
	width: 300px;
	padding-left: 20px;
	border-left: 1px solid #EEEEEE;
}

#sidebar-election2010 h3 {
	color: #333333;
	font-size: 24px;
}

#sidebar-election2010 div#filters dl dt.filter-label {
	color: #666666;
	width: 130px;
	float: left;
	display: block;
}

#sidebar-election2010 div#filters dl dd.filters-list {
	margin-left: 130px;
	margin-bottom: 10px;
}

#sidebar-election2010 div#filters dl dd.filters-list a.filter.active {
	background-color: #bd3d44;
	color: #FFFFFF;
}

#sidebar-election2010 div#filters dl dd.filters-list a.filter.active:hover {
	text-decoration: none;
}