#special-event-content{
	float: left;
	width: 670px;
	margin: 0 10px 20px 0;
	
}
#sidebar-special{
	float: left;
	width: 250px;
	border-left: 1px solid #eee;
	margin-left: 0;
	padding-left: 20px;
}
#mosaic{
	margin:20px 0;
}
li.mug-shot-link{
	float:left;
	margin:5px 10px 0 0;
}
li.mug-shot-link-feature{
	float:left;
	margin:5px 10px 10px 0;
}
li.mug-shot-link a, li.mug-shot-link a img{
	width:100px;
	height:100px;
}
li.mug-shot-link-feature a, li.mug-shot-link-feature a img{
	width:115px;
	height:115px;
	margin-right:15px;
	float:left;
}
li.mug-shot-link-feature p{
	margin-top:5px;
}
.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
 
.white_content {
	display: none;
	position: absolute;
	margin:auto;
	width: 50%;
	min-width:670px;
	padding: 16px;
	border: 16px solid #F28719;
	background-color: white;
	z-index:1002;
	overflow: auto;
}